<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:include="include :: header('实验室信息')"/>
  <link th:href="@{/js/bootstrap-table/bootstrap-table.min.css}" rel="stylesheet"/>
</head>
<body>
<div class="container-fluid p-t-15">
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="exampleModalLabel">编辑信息</h4>
        </div>
        <div class="modal-body">
          <form id="updateForm">
            <div class="form-group">
              <label for="id" class="control-label">ID：</label>
              <input type="text" name="id" class="form-control" id="id" disabled="disabled">
            </div>
            <div class="form-group">
              <label for="name" class="control-label">设备名称：</label>
              <input type="text" name="instrumentName" class="form-control" id="name">
            </div>
            <div class="form-group">
              <label for="email" class="control-label">型号：</label>
              <input type="text" name="model" class="form-control" id="email">
            </div>
            <div class="form-group">
              <label for="phonenumber" class="control-label">价格：</label>
              <input type="number" name="price" class="form-control" id="phonenumber">
            </div>
            <div class="form-group">
              <label for="image" class="control-label">设备图片：</label>
              <input type="file" name="image" class="form-control" id="image" accept="image/*">
              <img id="preview-image" src="" style="max-width: 200px; margin-top: 10px; display: none;">
            </div>
            <div class="form-group">
              <div class="example-box">
                <label class="lyear-radio radio-inline radio-primary">
                  <input type="radio" checked="" name="type" value="0"><span>常规设备</span>
                </label>
                <label class="lyear-radio radio-inline radio-primary">
                  <input type="radio" name="type" value="1"><span>自制设备</span>
                </label>
                <label class="lyear-radio radio-inline radio-primary">
                  <input type="radio" name="type" value="2"><span>捐赠设备</span>
                </label>
              </div>
            </div>
            <div class="form-group">
              <div class="example-box">
                <label class="lyear-radio radio-inline radio-primary">
                  <input type="radio" checked="" name="status" value="0"><span>启用</span>
                </label>
                <label class="lyear-radio radio-inline radio-primary">
                  <input type="radio" name="status" value="1"><span>禁用</span>
                </label>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
          <button type="button" id="updateBtn" class="btn btn-primary">确定</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="addModalLabel">新增</h4>
        </div>
        <div class="modal-body">
          <form id="addForm">
            <div class="form-group">
              <label for="instrumentName" class="control-label">设备名称：</label>
              <input type="text" name="instrumentName" id="instrumentName" class="form-control">
            </div>
            <div class="form-group">
              <label class="control-label" for="select">所属组织</label>
              <select class="form-control" id="select" name="depotId" size="1">
                <option th:each="depot : ${depots}" th:value="${depot.deptId}" th:text="${depot.deptName}">理学院
                </option>
              </select>
            </div>
            <div class="form-group">
              <label for="model" class="control-label">型号：</label>
              <input type="text" name="model" id="model" class="form-control">
            </div>
            <div class="form-group">
              <label for="price" class="control-label">价格：</label>
              <input type="number" name="price" id="price" class="form-control">
            </div>
            <div class="form-group">
              <label for="add-image" class="control-label">设备图片：</label>
              <input type="file" name="image" class="form-control" id="add-image" accept="image/*">
              <img id="add-preview-image" src="" style="max-width: 200px; margin-top: 10px; display: none;">
            </div>
            <div class="form-group">
              <div class="example-box">
                <label class="lyear-radio radio-inline radio-primary">
                  <input type="radio" checked="" name="type" value="0"><span>常规设备</span>
                </label>
                <label class="lyear-radio radio-inline radio-primary">
                  <input type="radio" name="type" value="1"><span>自制设备</span>
                </label>
                <label class="lyear-radio radio-inline radio-primary">
                  <input type="radio" name="type" value="2"><span>捐赠设备</span>
                </label>
              </div>
            </div>
            <div class="form-group">
              <div class="example-box">
                <label class="lyear-radio radio-inline radio-primary">
                  <input type="radio" checked="" name="status" value="0"><span>启用</span>
                </label>
                <label class="lyear-radio radio-inline radio-primary">
                  <input type="radio" name="status" value="1"><span>禁用</span>
                </label>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
          <button type="button" id="sureBtn" class="btn btn-primary">确定</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="addPositionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="addPositionLabel">新增位置</h4>
        </div>
        <div class="modal-body">
          <form id="addPositionForm">
            <div class="form-group">
              <label for="instrumentId" class="control-label">设备id：</label>
              <input type="text" name="instrumentId" id="instrumentId" class="form-control" disabled="disabled">
            </div>
            <div class="form-group">
              <label for="position" class="control-label">位置：</label>
              <input type="text" name="position" id="position" class="form-control">
            </div>
            <div class="form-group">
              <label for="detailNumber" class="control-label">储位：</label>
              <input type="number" name="detailNumber" id="detailNumber" class="form-control">
            </div>
            <div class="form-group">
              <label for="comment">备注</label>
              <textarea class="form-control" id="comment" name="comment" rows="5" value=""
                        placeholder="描述"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
          <button type="button" id="surePositionBtn" class="btn btn-primary">确定</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="addUseModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="addUseLabel">新增用途</h4>
        </div>
        <div class="modal-body">
          <form id="addUseForm">
            <div class="form-group">
              <label for="instrumentId" class="control-label">设备id：</label>
              <input type="text" name="instrumentId" id="uinstrumentId" class="form-control" disabled="disabled">
            </div>
            <div class="form-group">
              <label for="useTitle" class="control-label">用途名称：</label>
              <input type="text" name="useTitle" id="useTitle" class="form-control">
            </div>
            <div class="form-group">
              <label for="example-select">类别：</label>
              <div>
                <select class="form-control" id="example-select" name="type" size="1">
                  <option th:each="type : ${types}" th:value="${type.type}" th:text="${type.value}">test
                  </option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="useDesc">用途描述</label>
              <textarea class="form-control" id="useDesc" name="useDesc" rows="5" value=""
                        placeholder="描述"></textarea>
            </div>
            <div class="form-group">
              <label for="comment">备注</label>
              <textarea class="form-control" id="ucomment" name="comment" rows="5" value=""
                        placeholder="描述"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
          <button type="button" id="sureUseBtn" class="btn btn-primary">确定</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-toolbar clearfix">
          <div class="toolbar-btn-action">
            <a class="btn btn-primary m-r-5" href="#!" id="addBtn"><i class="mdi mdi-plus"></i> 新增设备</a>
            <a class="btn btn-success m-r-5" href="#!" id="enableBtn"><i class="mdi mdi-check"></i> 启用</a>
            <a class="btn btn-warning m-r-5" href="#!" id="disableBtn"><i class="mdi mdi-block-helper"></i> 禁用</a>
            <a class="btn btn-danger" href="#!" id="delBtn"><i class="mdi mdi-window-close"></i> 删除</a>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <!-- 表格数据 -->
            <table id="table"></table>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<div th:include="include :: table"></div>
<script type="text/javascript">
    $(function () {
        var idData = [];

        function contains(id) {
            for (let datum of idData) {
                if (datum === id) {
                    return false;
                }
            }
            return true;
        }

        $.fn.serializeObject = function () {
            let ct = this.serializeArray();
            let obj = {};
            $.each(ct, function () {
                if (obj[this.name] !== undefined) {
                    if (!obj[this.name].push) {
                        obj[this.name] = [obj[this.name]];
                    }
                    obj[this.name].push(this.value || "");
                } else {
                    obj[this.name] = this.value || "";
                }
            });
            return obj;
        }

        function getStatusJson(status, ids) {
            let data = {};
            data.status = status;
            data.ids = ids;
            return data
        }

        // 图片预览功能
        function previewImage(input, previewElement) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function(e) {
                    $(previewElement).attr('src', e.target.result).show();
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        // 图片上传功能
        function uploadImage(file) {
            return new Promise((resolve, reject) => {
                var formData = new FormData();
                formData.append('file', file);

                axios.post('/api/instrument/upload', formData, {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                }).then(response => {
                    resolve(response.data);
                }).catch(error => {
                    reject(error);
                    lightyear.notify('图片上传失败：' + error.response.data, 'danger', 100);
                });
            });
        }

        // 编辑表单图片预览
        $('#image').change(function() {
            previewImage(this, '#preview-image');
        });

        // 新增表单图片预览
        $('#add-image').change(function() {
            previewImage(this, '#add-preview-image');
        });

        // 编辑模态框关闭事件处理
        $('#exampleModal').on('hidden.bs.modal', function () {
            $('#updateForm')[0].reset();
            $('#preview-image').attr('src', '').hide();
        });

        // 更新表单提交成功后重置
        $('#updateBtn').off('click').on('click', async function() {
            try {
                let form = $("#updateForm").serializeObject();
                form['id'] = $('#id').val();
                
                // 处理图片上传
                const imageFile = $('#image')[0].files[0];
                if (imageFile) {
                    const imagePath = await uploadImage(imageFile);
                    form.image = imagePath;
                }

                // 提交表单
                await axios.put('/api/instrument', form);
                lightyear.notify('更新成功', 'success', 100);
                $('#exampleModal').modal('hide');
                $('#table').bootstrapTable('refresh');
                
                // 重置表单
                $('#updateForm')[0].reset();
                $('#preview-image').attr('src', '').hide();
            } catch (err) {
                lightyear.notify('更新失败：' + (err.response?.data?.message || err.message), 'danger', 100);
            }
        });

        // 处理新增表单提交
        $('#sureBtn').off('click').on('click', async function() {
            try {
                let form = $("#addForm").serializeObject();
                console.log('表单初始数据:', form);
                
                // 处理图片上传
                const imageFile = $('#add-image')[0].files[0];
                if (imageFile) {
                    console.log('开始上传图片:', imageFile.name);
                    const imagePath = await uploadImage(imageFile);
                    console.log('图片上传成功，路径:', imagePath);
                    form.image = imagePath;
                }

                console.log('最终提交的表单数据:', form);
                // 提交表单
                await axios.post('/api/instrument', form);
                lightyear.notify('添加成功', 'success', 100);
                $('#addModal').modal('hide');
                $('#table').bootstrapTable('refresh');
                
                // 重置表单
                $('#addForm')[0].reset();
                $('#add-preview-image').attr('src', '').hide();
            } catch (err) {
                console.error('提交失败:', err);
                lightyear.notify('添加失败：' + (err.response?.data?.message || err.message), 'danger', 100);
            }
        });

        $('#addBtn').off('click').on('click', function() {
            $('#addModal').modal();
        });

        // 添加模态框关闭事件处理
        $('#addModal').on('hidden.bs.modal', function () {
            $('#addForm')[0].reset();
            $('#add-preview-image').attr('src', '').hide();
        });

        $('#addPositionModal').on('show.bs.modal', function (event) {
            var modal = $(this);
        });

        // 添加位置模态框关闭事件处理
        $('#addPositionModal').on('hidden.bs.modal', function () {
            $('#addPositionForm')[0].reset();
            $('#instrumentId').val('');
        });

        // 添加位置表单提交成功后重置
        $('#surePositionBtn').off('click').on('click', function() {
            let form = $("#addPositionForm").serializeObject();
            form['instrumentId'] = $('#instrumentId').val();
            console.log(form);
            axios.post('/api/position', form).then(res => {
                lightyear.notify(res.data, 'success', 100);
                $('#addPositionModal').modal('hide');
                $('#table').bootstrapTable('refresh');
                
                // 重置表单
                $('#addPositionForm')[0].reset();
                $('#instrumentId').val('');
            }).catch(err => {
                lightyear.notify(err.response.data.message, 'danger', 100);
            })
        });

        $('#addUseModal').on('show.bs.modal', function (event) {
            var modal = $(this);
        });

        // 添加用途模态框关闭事件处理
        $('#addUseModal').on('hidden.bs.modal', function () {
            $('#addUseForm')[0].reset();
            $('#uinstrumentId').val('');
            $('#useDesc').val('');
            $('#ucomment').val('');
        });

        // 添加用途表单提交成功后重置
        $('#sureUseBtn').off('click').on('click', function() {
            let form = $("#addUseForm").serializeObject();
            form['instrumentId'] = $('#uinstrumentId').val();
            console.log(form);
            axios.post('/api/use', form).then(res => {
                lightyear.notify(res.data, 'success', 100);
                $('#addUseModal').modal('hide');
                $('#table').bootstrapTable('refresh');
                
                // 重置表单
                $('#addUseForm')[0].reset();
                $('#uinstrumentId').val('');
                $('#useDesc').val('');
                $('#ucomment').val('');
            }).catch(err => {
                lightyear.notify(err.response.data.message, 'danger', 100);
            })
        });

        $('#enableBtn').click(() => {
            if (idData.length === 0) {
                lightyear.notify('请先选择要启用信息', 'warning', 100);
                return;
            }

            let json = getStatusJson('0', idData);
            axios.patch('/api/instrument', json).then(res => {
                idData = [];
                lightyear.notify('启用成功', 'success', 100);
                $('#table').bootstrapTable('refresh');
            }).catch(err => {
                lightyear.notify('启用失败' + err.response.data.message, 'danger', 100);
            })
        });

        $('#disableBtn').click(() => {
            if (idData.length === 0) {
                lightyear.notify('请先选择要启用的信息', 'warning', 100);
                return;
            }

            let json = getStatusJson('1', idData);
            console.log(json);
            axios.patch('/api/instrument', json).then(res => {
                idData = [];
                lightyear.notify('禁用成功', 'success', 100);
                $('#table').bootstrapTable('refresh');
            }).catch(err => {
                console.log(err.response);
                lightyear.notify('禁用失败' + err.response.data.message, 'danger', 100);
            })
        });

        $('#delBtn').click(() => {
            if (idData.length === 0) {
                lightyear.notify('请先选择要删除的用户', 'warning', 100);
                return;
            }
            axios({
                method: 'delete',
                url: '/api/instrument',
                data: idData
            }).then(res => {
                idData = [];
                lightyear.notify('删除成功', 'success', 100);
            }).catch(err => {
                lightyear.notify('删除失败' + err.response.message, 'danger', 100);
            });
        })

        // 初始化表格
        $('#table').bootstrapTable({
            url: '/api/instrument',
            showRefresh: true,
            sortStable: true,
            cache: false,
            pagination: true,
            sidePagination: 'client',
            searchAlign: 'right',
            search: true,
            pageNumber: 1,
            pageSize: 10,
            pageList: [10, 20, 30],
            onCheck: function (row) {
                if (contains(row.id)) {
                    idData.push(row.id);
                }
                console.log(idData)
            },
            onUncheck: function (row) {
                idData.forEach((item, index, arr) => {
                    if (item === row.id) {
                        arr.splice(index, 1);
                    }
                })
                console.log(idData);
            },
            onCheckAll: function (rows) {
                idData.splice(0, idData.length);
                for (let i = 0; i < rows.length; i++) {
                    idData.push(rows[i].id);
                }
                console.log(idData);
            },
            onUncheckAll: function (rows) {
                idData.splice(0, idData.length);
                console.log(idData)
            },
            columns: [{
                name: 'check',
                align: 'center',
                valign: 'middle',
                checkbox: true
            }, {
                field: 'index',
                title: '序号',
                align: 'center',
                formatter: function (value, row, index) {
                    var pageSize = $('#table').bootstrapTable('getOptions').pageSize;
                    var pageNumber = $('#table').bootstrapTable('getOptions').pageNumber;
                    return pageSize * (pageNumber - 1) + index + 1;
                }
            }, {
                field: 'instrumentName',
                title: '设备名'
            }, {
                field: 'image',
                title: '设备图片',
                width: 200,
                align: 'center',
                formatter: function(value, row, index) {
                    if (value) {
                        // 确保使用绝对路径
                        const imagePath = value.startsWith('/') ? value : '/' + value;
                        console.log('图片路径:', imagePath); // 添加调试日志
                        return '<img src="' + imagePath + '" style="max-width: 150px; max-height: 150px;" onerror="console.error(\'图片加载失败:\', this.src); this.onerror=null; this.src=\'/images/img-placeholder.png\';">';
                    }
                    return '无图片';
                }
            }, {
                field: 'model',
                title: '型号'
            }, {
                field: 'type',
                title: '类型',
                formatter: function (value, row, index) {
                    if (value === '0') {
                        return '常规设备';
                    } else if (value === '1') {
                        return '自制设备';
                    } else if (value === '2') {
                        return '捐赠设备';
                    }
                    return value;
                }
            }, {
                field: 'status',
                title: '状态',
                formatter: function (value, row, index) {
                    if (value === '0') {
                        return '启用';
                    } else if (value === '1') {
                        return '禁用';
                    }
                    return value;
                }
            }, {
                field: 'price',
                title: '价格'
            }, {
                field: 'createTime',
                title: '创建时间',
                formatter: function(value, row, index) {
                    if (value) {
                        const date = new Date(value);
                        return date.getFullYear() + '-' + 
                               String(date.getMonth() + 1).padStart(2, '0') + '-' + 
                               String(date.getDate()).padStart(2, '0') + ' ' + 
                               String(date.getHours()).padStart(2, '0') + ':' + 
                               String(date.getMinutes()).padStart(2, '0') + ':' + 
                               String(date.getSeconds()).padStart(2, '0');
                    }
                    return '-';
                }
            }, {
                field: 'operate',
                title: '操作',
                align: 'center',
                valign: 'middle',
                width: 200,
                events: {
                    'click #edit': function (e, value, row, index) {
                        $('#exampleModal').modal();
                        $('.modal-title').text('编辑：' + row.instrumentName);
                        $('#id').val(row.id);
                        $('#name').val(row.instrumentName);
                        $('#email').val(row.model);
                        $('#phonenumber').val(row.price);
                        if (row.image) {
                            $('#preview-image').attr('src', row.image).show();
                        }
                        $('input[name="type"][value="' + row.type + '"]').prop('checked', true);
                        $('input[name="status"][value="' + row.status + '"]').prop('checked', true);
                    },
                    'click #addPosition': function (e, value, row, index) {
                        $('#addPositionModal').modal();
                        $('.modal-title').text('添加位置：' + row.instrumentName);
                        $('#instrumentId').val(row.id);
                    },
                    'click #addUse': function (e, value, row, index) {
                        $('#addUseModal').modal();
                        $('.modal-title').text('添加用途：' + row.instrumentName);
                        $('#uinstrumentId').val(row.id);
                    }
                },
                formatter: function (value, row, index) {
                    let result = "";
                    result += '<a class="btn btn-xs btn-default" id="edit" href="#!" title="编辑"><i class="mdi mdi-pencil"></i></a>';
                    result += '<a class="btn btn-xs btn-default" id="addPosition" href="#!" title="添加位置"><i class="mdi mdi-map-marker"></i></a>';
                    result += '<a class="btn btn-xs btn-default" id="addUse" href="#!" title="添加用途"><i class="mdi mdi-file-document"></i></a>';
                    return result;
                }
            }]
        });
    });
</script>
</body>
</html>